html {
    min-width: 1440px;
    background-image: url('@/assets/img/app_bg.png');
    background-attachment: fixed; /* 固定背景，不随滚动移动 */
    background-size: cover; /* 覆盖整个容器，保持比例 */
    background-position: center; /* 背景居中 */
    background-repeat: no-repeat; /* 不重复平铺 */
}

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-size: clamp(16px, 0.5vw, 24px);
}

.multi-line-ellipsis-1 {
    width: 100%;
    white-space: nowrap;
    display: -webkit-box;          /* 旧版 Flex 布局（必要） */
    -webkit-line-clamp: 1;         /* 限制显示行数 */
    -webkit-box-orient: vertical;  /* 垂直排列内容 */
    overflow: hidden;              /* 隐藏溢出内容 */
    text-overflow: ellipsis;       /* 显示省略号 */
}

.multi-line-ellipsis-2 {
    width: 100%;
    display: -webkit-box;          /* 旧版 Flex 布局（必要） */
    -webkit-line-clamp: 2;         /* 限制显示行数 */
    -webkit-box-orient: vertical;  /* 垂直排列内容 */
    overflow: hidden;              /* 隐藏溢出内容 */
    text-overflow: ellipsis;       /* 显示省略号 */
}

.multi-line-ellipsis-3 {
    width: 100%;
    display: -webkit-box;          /* 旧版 Flex 布局（必要） */
    -webkit-line-clamp: 3;         /* 限制显示行数 */
    -webkit-box-orient: vertical;  /* 垂直排列内容 */
    overflow: hidden;              /* 隐藏溢出内容 */
    text-overflow: ellipsis;       /* 显示省略号 */
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 文字大小 */
.font-mini {
    font-size: clamp(10px, 0.6vw, 14px) !important;
}

.font-normal {
    font-size: clamp(14px, 0.7vw, 24px) !important;
}

.font-middle {
    font-size: clamp(24px, 1vw, 36px) !important;
}

.font-large {
    font-size: clamp(36px, 1.5vw, 48px) !important;
}

.font-600 {
    font-weight: 600;
}

.font-800 {
    font-weight: 800;
}

.font-light {
    color: #5CC300;
    margin: 0 5px;
}
/* 文字颜色 */
.font-5CC300 {
    color: #5CC300;
}

.font-5D5D5D {
    color: #5D5D5D;
}

.font-E8E8E8 {
    color: #E8E8E8;
}

.font-FF4A2B {
    color: #FF4A2B;
}

.font-FF5000 {
    color: #FF5000;
}

/* 色盘 */
.color-5CC300 {
    background-color: #5CC300;
}

.color-94C9FF {
    background-color: #94C9FF;
}

/* 按钮 */
.custom-button {
    cursor: default;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    background-image: linear-gradient(to right, #9FFFD7, #BAFF75);
}
.custom-button:hover {
    color: #5CC300;
    background-image: linear-gradient(to right, #9fffea, #75ff75);
}

.default-button {
    cursor: default;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #C8C9CC;
    background-color: #FFFFFF;
}
.default-button:hover {
    color: #46A1FF;
    border-color: #46A1FF;
    background-color: #ECF5FF;
}

.default-button-active {
    color: #46A1FF;
    border-color: #46A1FF;
    background-color: #ECF5FF;
}

.delete-button {
    cursor: default;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #C8C9CC;
    background-color: #FF4A2B30;
}
.delete-button:hover {
    color: #FF4A2B;
    border-color: #FF4A2B;
    background-color: #FF4A2B30;
}

.disabled-button {
    cursor: default;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: #5D5D5D;
    border-radius: 5px;
    border: 1px solid #C8C9CC;
    background-color: #DDE3E9;
}

/* 显示错误的图片 */
.fail-pic {
    width: 100%;
    height: 100%;
}

@keyframes fieIdBoxShow {
    0% {
        transform: scale(0.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
/* 下单页面字段相关样式 */
.fieId-box {
    animation: fieIdBoxShow 0.3s linear forwards;
    overflow: hidden;
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    .fieId-label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 15%;
        padding: 10px;
        font-weight: 600;
        border-right: 1px solid #E8E8E8;
        background-color: #F4F7FA;
    }
    .fieId-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;
        width: 85%;
        padding: 10px;
    }
}

/* 可点击的字体文本 */
.link-text {
    cursor: pointer;
    color: #94C9FF;
}
.link-text:hover {
    text-decoration: underline;
    color: #55A6FF;
}
.link-text-FF4A2B {
    cursor: pointer;
    color: #FF4A2B;
}
.link-text-FF4A2B:hover {
    text-decoration: underline;
    color: #FF5000;
}